h1{
     font-family:  'Arial Narrow Bold';
      font-size: 32px;
      padding: 5px;
      text-align: center;  
    color: black;  
    background-color: rgba(41, 35, 35, 0.874);
    font-variant: small-caps;
}

li, h2, h4, p{
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    color: azure;

}

h2{
    display: flex;
    justify-content: center;
}

body{
    background-image: url("https://cdn.photoroom.com/v1/assets-cached.jpg?path=backgrounds_v3/black/Photoroom_black_background_extremely_fine_texture_only_black_co_9f0bf3dc-239f-4052-9dc2-84100652639e.jpg");
}

a{
    display: flex;
    justify-content:center;
}

div{
    display: flex;
}

#Sirhitman{
    justify-content: center;
    width: 1300px;
}


h3{
   justify-content: space-around;
   color: aliceblue;
}
nav {
    background-color: #050708;
    padding: 5px;
    display: flex;
    justify-content: space-around;
 }
 
 
 img {
    width: 150px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 10s;
  animation-iteration-count: 1;
 }

 .items{
    transition: width 2s, height 2s, transform 2s;
 }
 
 
 .items:hover {
    opacity: 0.5;
    width: 50px;
    height: 50px;
    transform: rotate(360deg);

 }
 
 
 a {
    width: 27%;
    text-align: center;
    text-decoration: none;
 }

#ideals{
    align-content: space-between;

}

a{
    text-decoration: dotted;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:-1450px;}
    50%  {left:1000px; top: -1450px;}
    75%  {left:1000px; top:0px;}
    100% {left:0px; top:0px;}
  }

 